 body {
    background-color: lightskyblue;
    <link rel="stylesheet" href="https://kit.fontawesome.com/e6be4f7808.css" crossorigin="anonymous">
 }
 
 
 
 
 h3 {
    background-color: lightsteelblue;
    border-style: solid;
    color: blue;
 }
